@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;700&display=swap');
:root {
  --Text-Black: rgba(67, 67, 67, 1);
  --White: #fff;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Red Rose', cursive;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
ul,
li {
  list-style-type: none;
}
input {
  border: none;
  outline: none;
}
body {
  width: 100%;
  min-height: 100vh;
}
